
.marketing-cards {
  padding: 50px 20px;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}

.marketing-cards h2 {
  font-size: 4.2rem;
  line-height: 5.1rem;
  margin-bottom: 30px;
  color: #191A23;

  max-width: 1024px;
}

.highlight {
  position: relative;
}

.highlight img {
  position: absolute;
  top: 4.6rem;
  left: 0;
}

.marketing-wrapper {
  height: 700px;
  margin-bottom: 10rem;

  position: relative;
  left: 0;
}

.marketing-wrapper::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -20vw;
  width: 40vw;
  height: calc(100% + 2rem);
  background: linear-gradient(to right, transparent 40%, #fdf6eb 65%);
}

.card-container {
  display: flex;
  gap: 48px;

  transition: 0.4s all;
}

.card-slide {
  position: relative;

  background-color: white;
  border: 1px solid #191A23;
  border-radius: 36px;
  min-width: 475px;
  height: 100%;
  box-shadow: 7px 7px 0 #191A23;
}

.image-detail {
  position: absolute;
  top: 20px;
  left: 30px;
}

.card-image {
  width: 100%;
  max-height: 315px;
  object-fit: none;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}

.card-content {
  padding: 24px 20px 44px;
}

.card-content p {
  font-size: 2.4rem;
  color: #191A23;
}

.btn-learn-more {
  background-color: #00f;
  color: white;
  padding: 16px 55px;
  border-radius: 68px;
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
  margin: 28px 0;
  display: inline-block;
}

.arrow-svg {
  display: none;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 85px;
}

.slide-star {
  display: none;
}

.carousel-prev, .carousel-next {
  display: flex;
  align-items: center;
  justify-items: center;

  background-color: white;
  border: 1px solid #191A23;
  color: #191A23;
  padding: 18px;
  border-radius: 100%;
  cursor: pointer;

  box-shadow: 3px 3px 0 #191A23;

  transition: 0.4s all;
}

.carousel-prev:hover, .carousel-next:hover {
  transform: translate(3px, 3px);
  box-shadow: none;
}

.carousel-prev:active, .carousel-next:active {
  box-shadow: none;
}

.see-all-btn {
  display: none;
  background-color: #191A23;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  padding: 16px 0;
  width: 100%;
  border: none;
  border-radius: 42px;
  margin-top: 45px;
}

@media screen and (max-width: 768px) {
  .marketing-wrapper {
    height: auto;
  }

  .marketing-wrapper::after {
    /* remove linear gradient */
    display: none;
  }

  .highlight img {
    top: 4rem;
  }

  .marketing-cards {
    padding-top: 0;
  }

  .marketing-cards h2 {
    font-size: 3.6rem;
    margin-bottom: 1.2rem;
  }

  .card-container {
    gap: 24px;
  }

  .card-slide {
    min-width: 100%;
  }

  .card-image {
    width: 100%;
    min-height: 420px;
    object-fit: cover;
  }

  .card-content {
    font-size: 1.6rem;
    font-weight: normal;
    padding: 1.6rem;
  }

  .card-content p {
    font-size: 1.8rem;
  }

  .carousel-controls {
    margin-top: 50px;
  }
}

@media screen and (max-width: 640px) {
  .btn-learn-more {
    width: 100%;
    text-align: center;
  }
}

@media (hover: none) {
  .carousel-prev:hover, .carousel-next:hover {
    transform: none;
    box-shadow: 3px 3px 0 #191A23;
  }
}